<div class="login-container">
    <form class="login-form" (submit)="login()">
      <h1 style="color: white;"><b>LOGIN</b></h1>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
  