<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fleeta Dashboard</title>
</head>
<body>
  <div class="top-bar">
    <img src="assets/2.png" alt="Logo" class="company-logo">
    <div class="dropdown">
      <button class="dropbtn">MENU</button>
      <div class="dropdown-content">
        <a (click)="changeRoute('/')">Main</a>
        <a (click)="changeRoute('/realtime')">Real-time</a>
      </div>
    </div>
  </div>
  <div class="map-container">
    <router-outlet></router-outlet>
  </div>
</body>
