.top-bar {
    background-color: #741010f3; 
    padding: 5px 5px; 
    text-align: center;
    font-size: 20px; 
    font-family: Arial, sans-serif; 
    position: fixed;
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 999; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .company-logo {
    height: 150px; 
    width: auto; 
    vertical-align: middle; 
  }

.dropdown {
  position: relative;
  display: inline-block;
  float: right; 
}

.dropbtn {
  background-color: white;
  color: #741010f3;
  padding: 12px;
  font-size: 16px;
  border-radius: 6%;
  border: none;
  cursor: pointer;
  margin: 50px;
  margin-bottom: -45px;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 50px; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}
