<div class="side-nav">
  <div class="side-nav-header">
    <img src="assets/1.png" alt="Logo" class="company-logo2">
    <button (click)="onClose()">Close</button>
  </div>
  <h1>
    <span>{{ item.label }}</span>
  </h1>
  <div *ngIf="item && item.label">
    <div class="icon-container">
      <img [src]="getIconForEvent(item.type)" alt="Event Icon"class="small-icon">
    </div>
  </div>
  
  

  <span>{{ this.description }}</span>
  <div class="side-nav-content">
    <ng-container *ngIf="item && item.length && item[0].length === 2">
      <h1>{{ itemReceived.type }} {{ itemReceived.label }}</h1>
      <table class="connections-table">
        <thead>
          <tr>
            <th colspan="2">All Car Connections</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let connection of item">
            <td>{{ connection[0] }}</td>
            <td>{{ connection[1] }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>    
    <br>
    <div class="toggle-container" *ngIf="!isConnectionsArray(item) && item.type === 'car'">
      <div class="filter-label">
        <b><span class="filter-legend">Filter by Car</span></b>
      </div>
      <div class="toggle-switch-container">
        <label class="toggle-switch">
          <input type="checkbox" (click)="onShowFilterClicked()">
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="toggle-container" *ngIf="!isConnectionsArray(item)">
      <div class="filter-label">
        <b><span class="filter-legend">Filter by Car</span></b>
      </div>
      <div class="toggle-switch-container">
        <label class="toggle-switch">
          <input type="checkbox" (click)="onShowFilterClicked()">
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <br>
    <div class="toggle-container" *ngIf="!isConnectionsArray(item)">
      <div class="filter-label">
        <b><span class="filter-legend">Show Route</span></b>
      </div>
      <div class="toggle-switch-container">
        <label class="toggle-switch">
          <input type="checkbox" (click)="onShowRouteClicked()">
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
