<div class="side-nav">
  <div class="side-nav-header">
    <img src="assets/1.png" alt="Logo" class="company-logo2">
    <button (click)="onClose()">Close</button>
  </div>
  <h1> 
    <span>{{ item.label }}</span>
  </h1>    
  <div class="side-nav-content">
    <ng-container *ngIf="item && item.length && item[0].length === 2">
      <table class="connections-table">
        <thead>
          <tr>
            <th colspan="2">Connections</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let connection of item">
            <td>{{ connection[0] }}</td>
            <td>{{ connection[1] }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>    
    <!-- Show route button if the item is not a connections array -->
    <button class="show-route-button" *ngIf="!isConnectionsArray(item) && item.type === 'car'" (click)="onShowRouteClicked()">Show Route</button>
  </div>
</div>
