<div class="side-nav">
  <div class="side-nav-header">
    <img src="assets/1.png" alt="Logo" class="company-logo2">
    <button (click)="onClose()">Close</button>
  </div>
  <h1> 
    <span>{{ item.label }}</span>
  </h1>    
  <div class="side-nav-content">
    <ng-container *ngIf="item && item.length && item[0].length === 2">
        <H1>{{ itemReceived.type }} {{ itemReceived.label }}</H1>
      <table class="connections-table">
        <thead>
          <tr>
            <th colspan="2">All Car Connections</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let connection of item">
            <td>{{ connection[0] }}</td>
            <td>{{ connection[1] }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>    
    <br>
    <div class="toggle-container" *ngIf="!isConnectionsArray(item) && item.type === 'car'">
      <b><span class="filter-legend">Filter by Car</span></b>
      <label class="toggle-switch">
        <input type="checkbox"(click)="onShowFilterClicked()" >
        <span class="slider"></span>
      </label>
    </div>
    <div class="toggle-container" *ngIf="!isConnectionsArray(item)">
      <b><span class="filter-legend">Filter by Car</span></b>
      <label class="toggle-switch">
        <input type="checkbox"(click)="onShowFilterClicked()" >
        <span class="slider"></span>
      </label>
    </div>
        <br>
        <button class="show-route-button" *ngIf="!isConnectionsArray(item) " (click)="onShowRouteClicked()">Show Route</button>

    <button class="show-route-button" *ngIf="!isConnectionsArray(item) && item.type === 'car'" (click)="onShowRouteClicked()">Show Route</button>
  </div>
</div>
