.side-nav {
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item-label {
    text-align: center;
    margin-top: 10px; /* Adjust margin as needed */
  }
  
  
  .side-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .company-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .side-nav-header span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .side-nav-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .side-nav-content {
    font-size: 18px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .company-logo2 {
    height: 150px;
    width: auto; 
    vertical-align: middle; 
  }

  .show-route-button {
    color: white;
    background-color: #b30000; 
    border: 2px solid #b30000;
    padding: 8px 16px; 
    border-radius: 4px;
    cursor: pointer; 
  }
  
  .show-route-button:hover {
    background-color: #800000; 
    border-color: #800000;
  }
  
  
  .connections-table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    border-radius: 5%;
  }
  
  .connections-table th, .connections-table td, .connections-table tr {
    border: 1px solid #75050593;
    padding: 8px;
    text-align: center;
    width: 100%;
  }
  
  .connections-table th {
    background-color: #7d07079e;
    color: white;

  }


  /* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8a0c0c;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

  
.toggle-container {
  display: flex;
  align-items: center;
}

.filter-label {
  flex: 1;
}

.toggle-switch-container {
  margin-left: 10px; /* Adjust margin as needed */
}
